# App
MODE=DEV

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=mycashflow

# Optional (for production or cloud DB)
# DATABASE_URL=postgresql+asyncpg://user:pass@host:5432/dbname

SECRET_KEY_JWT=
